@import '../../../styles/mixins';
@import '../../../styles/colors';

.category {
  &__photo {
    display: block;
    width: 100%;
    max-width: 280px;
    height: auto;
    margin: 30px auto 24px;
    border-radius: 8px;

    transition: transform 0.2s;
    @include onTablet {
      max-width: 187px;
    }

    @include onDesktop {
      max-width: 368px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__link {
    color: $color__primary;

    &:visited {
      color: $color__primary;
    }
  }

  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $color__secondary;

  &__name {
    line-height: 26px;
    margin-bottom: 4px;
  }

  &__description {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $color__secondary;
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 4px;
  }
}