.pag-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.pag-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border: 1px solid #E2E6E9;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 8px;

  &__arrow {
    border: 1px solid #B4BDC3;
    background-color: #fff;


    &--left {
      background-image: url(../../styles/images/left-arrow.svg);
      background-position: center;
      background-repeat: no-repeat;
    }

    &--right {
      margin-right: 0;
      background-image: url(../../styles/images/right-arrow.svg);
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        border-color: #0F0F11;
      }
    }
  }

  &:hover {
    border-color: #0F0F11;
    transition: 0.3s, border 0.3s;
  }
}

.pag-list {
  display: flex;
  flex-wrap: nowrap;
  &__item {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    
    text-align: center;
    
    color: #0F0F11;

    &--link {
      color: #0F0F11;
    }
  }
}

.is-active-pag {
  color: #fff;
  border-color: #0F0F11;
  background-color: #0F0F11;
}
