@import "../../styles/mixins";
@import "../../styles//_blocks/gridTemplate";


.catalog-display {
  display: flex;
  gap: 16px;
}

.sorter {
  margin-bottom: 24px;

  &__name {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #89939a;
    padding-bottom: 4px;
  }

  &__selector {
    grid-column: 1 / 5;

    height: 40px;
    padding: 10px;

    border: 1px solid #b4bdc4;
    border-radius: 8px;
    
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000;

    &--sort {
      width: 187px;
    }

    &--per-page {
      width: 136px;
    }

  }
}