@import "../../../styles/mixins";

.subtitle {
  font-family: 'Mont';
  font-size: 32px;

  @include onDesktop {
    font-size: 48px;
  }
}

.back-block {
  display: flex;
  align-items: center;
  line-height: 15px;

  &__text {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-align: center;

    color: #89939A;
  }

  &__arrow {
    width: 5px;
    height: 10px;
    margin-right: 14px;
    background-image: url(../../../stylesScss/images/right-grey-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: #B4BDC4;
    ;
  }

  &__home {
    position: relative;
    width: 14px;
    height: 15px;
    margin-right: 14px;
    background-image: url(../../../stylesScss/images/home.svg);
    background-repeat: no-repeat;
    background-position: center;

    &--inside {
      position: absolute;
      left: 4px;
      top: 6px;
      width: 6px;
      height: 8px;
      background-image: url(../../../stylesScss/images/home-inside.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}