@import '../mixins';

.container {
    width: 100%;
    max-width: 1200px;
    padding: 25px 16px 80px;

    @include onTablet {
      padding: 25px 24px 60px;
    }

    @include onDesktop {
      padding: 25px 24px 50px;

    }
  }
