$color__accent: #216cff;
$color__secondary-accent: #f447af;
$color__primary: #0f0f11;
$color__secondary: #89939a;
$color__icons: #b4bdc3;
$color__elements: #e2e6e9;
$color__hoverAndBg: #fafbfc;
$color__white: #fff;
$color__green: #27ae60;
$color__red: #eb5757;      
