@import 'mixins';
@import "colors";

:root {
  font-family: "Mont_Regular", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  background: $color__white;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;

  @include onTablet {
    padding: 0 24px;
  }

  @include onDesktop {
    padding: 0 32px;
  }
}
