@mixin gridColums ($number, $size) {
  grid-template-columns: repeat($number, $size);
}

$card-width: 272px;

.title {
  margin-bottom: 24px;
}

.catalog {
  display: grid;
  @include gridColums(4, $card-width);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 16px;
  width: $card-width;
  max-width: 1200px;
}

.card {
  height: 506px;
  padding: 32px 16px 16px;

  background-color: #fff;
  border: 1px solid #E2E6E9;
  border-radius: 5px;

  &__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__img {
    display: block;
    width: 196x;
    height: 208px;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  &__name {
    margin: auto;
    margin-bottom: 8px;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  &__price {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    margin-bottom: 8px;
  }

  &__underline {
    border-bottom: 1px solid #E2E6E9;
    margin-bottom: 16px;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 16px;
    }
  }

  &__button {
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;

    background-color: #216CFF;
    border: 1px solid #00acdc00;
    border-radius: 5px;

    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;

    transition: 0.3s, color 0.3s;
  }

  &__button:hover {
    background-color: #fff;
    border: 1px solid #216CFF;
    color: #216CFF;
  }

  &__add-to-favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-left: 8px;
    border: 1px solid #B4BDC3;
    border-radius: 50%;
    background-color: #fff;

    transition: 0.3s, border 0.3s;
  }

  &__add-to-favorite:hover {
    border: 1px solid black;
  }

  .description {
    margin-bottom: 8px;

    &__title {
      color: #89939A;
      font-family: 'Mont';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
    }

    &__value {
      font-family: 'Mont';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
    }
  }
}