@import '../../styles/mixins';
@import '../../styles/colors';

.header {
  display: flex;
  align-items: center;

  box-shadow: 0 1px 0 $color__elements;

  @include onMobile {
    flex-direction: column;
  }

  &__mobile {
    @include onMobile {
      height: 100vh;
    }
  }
}

.nav {
  display: flex;

  @include onMobile {
    width: 100%;

    flex-direction: column;
  }

  &__link {
    display: flex;
    position: relative;

    @include onMobile {
      justify-content: space-between;

      box-shadow: 0 1px 0 $color__elements;
    }

    &--logo {
      display: block;

      margin: auto 48px auto 24px;

      &-el {
        position: absolute;
        left: 64px;
        bottom: 17px;

        @include onMobile {
          bottom: 34px;
        }
      }
    }

    &--menu {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 64px;
      height: 64px;

      box-shadow: -1px 0px 0px $color__elements;

      @include onTablet {
        display: none;
      }
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;

  width: 100%;

  @include onMobile {
    flex-direction: column;
    height: 100%;

    transition: all 0.4s ease-in;
  }

  &__list {
    display: flex;

    @include onMobile {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 32px;

      transition: margin-right 0.3s ease-in-out;

      @include onDesktop {
        margin-right: 64px;

        transition: margin-right 0.3s ease-in-out;
      }

      @include onMobile {
        margin-right: 0;
      }
    }
  }

  &__user {
    width: 100%;

    @include onMobile {
      display: flex;
    }

    &__list {
      display: flex;
      justify-content: right;

      width: 100%;

      @include onMobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 64px;
      height: 64px;

      box-shadow: -1px 0 0 $color__elements;

      @include onMobile {
        width: 100%;
        border-top: 1px solid $color__elements;
      }
    }
  }
}

.navigation__mobile {
  @include onMobile {
    display: none;
  }
}

.link__icon {
  height: 64px;

  @include onMobile {
    display: block;

    width: 100%;
  }
}

.link__item {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $color__secondary;

  &:hover {
    color: $color__primary;
  }

  &--is-active::after {
    position: absolute;
    bottom: 0;
    height: 4px;

    width: 100%;
    content: "";

    background-color: rgb(15, 15, 17);
    border-radius: 3px;
    opacity: 1;
    transition: background-color 0.3s ease 0s;
  }


  @include onMobile {
    width: fit-content;
  }
}

.cartNav {
  position: relative;
}

.count__cart__prod {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  top: 1.1rem;
  right: 1.1rem;
  user-select: none;

  background: $color__secondary-accent;
  width: 1.2rem;
  height: 1.2rem;
  z-index: 1;

  border-radius: 50%;
  border: 2px solid $color__white;

  font-size: .6rem;
  color: $color__white;

  @include onMobile {
    top: 1rem;
    right: 5.5rem;
  }
}
