@font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    src: url('../stylesScss/fonts/Mont-Regular.ttf');
}

@font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    src: url('../stylesScss/fonts/Mont-SemiBold.ttf');
}

@font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    src: url('../stylesScss/fonts/Mont-Bold.ttf');
}