.back-block {
  display: flex;
  align-items: center;
  line-height: 15px;
  gap: 14px;
  margin-bottom: 25px;

  &__text {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-align: center;

    color: #89939A;
  }

  &__arrow {
    width: 5px;
    height: 10px;
    background-image: url(../../styles/images/right-grey-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: #B4BDC4;
    ;
  }

  &__home {
    position: relative;
    width: 14px;
    height: 15px;
    background-image: url(../../styles/images/home.svg);
    background-repeat: no-repeat;
    background-position: center;

    &--inside {
      position: absolute;
      left: 4px;
      top: 6px;
      width: 6px;
      height: 8px;
      background-image: url(../../styles/images/home-inside.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}