.TechSpecs {
  &__header {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;

    color: #0F0F11;

    &::after {
      content: '';
      height: 1px;
      margin-top: 16px;
      margin-bottom: 32px;
      display: block;
      background-color: #E2E6E9;
    }
  }

  &__sect {
    display: flex;
    justify-content: space-between;

    margin-top: 8px;
  }

  &__textChar {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #89939A;

  }

  &__textValue {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;

    color: #0F0F11;
  }

  //   display: flex;
  //   justify-content: space-between;

  //   &__textChar {
  //     margin-top: 8px;

  //     font-family: 'Mont';
  //     font-style: normal;
  //     font-weight: 500;
  //     font-size: 14px;
  //     line-height: 21px;

  //   }

  //   &__textValue {
  //     margin-top: 8px;

  //     font-family: 'Mont';
  //     font-style: normal;
  //     font-weight: 600;
  //     font-size: 14px;
  //     line-height: 21px;

  //     text-align: right;

  //     color: #0F0F11;
  //   }
}