@mixin gridColums ($number, $size) {
  grid-template-columns: repeat($number, $size);
}

$card-width: 272px;

.title {
  margin-bottom: 24px;
}

.scroll {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  padding: 30px;

  &__title {
    display: block;
    width: max-content;

    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
  }

  &__block {
    display: flex;
    flex-direction: row;
    width: 82px;
  }

  &__left {
    text-align: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
    border: 1px solid #B4BDC3;
    border-radius: 50%;
    background-color: #fff;

    transition: 0.3s, border 0.3s;
  }

  &__left:hover {
    border: 1px solid black;
  }

  &__right {
    text-align: center;
    height: 32px;
    width: 32px;
    margin-left: 16px;
    cursor: pointer;
    border: 1px solid #B4BDC3;
    border-radius: 50%;
    background-color: #fff;

    transition: 0.3s, border 0.3s;
  }

  &__right:hover {
    border: 1px solid black;
  }
}

.card {
  height: 506px;
  padding: 32px 16px 16px;
  margin-bottom: 56px;
  background: #FFFFFF;
  border: 1px solid #E2E6E9;
  border-radius: 8px;

  &__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__img {
    display: block;
    width: 196x;
    height: 208px;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  &__name {
    margin: auto;
    margin-bottom: 8px;
    height: 42px;
    max-width: 208px;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  &__price {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    margin-bottom: 8px;
    margin-right: 8px;
  }

  &__price-regular {
    font-size: 22px;
    color: #89939A;
    text-decoration: line-through;
  }

  &__underline {
    border-bottom: 1px solid #E2E6E9;
    margin-bottom: 16px;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 16px;
    }
  }

  &__button {
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;

    background-color: #216CFF;
    border: 1px solid #00acdc00;
    border-radius: 5px;

    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;

    transition: 0.3s, color 0.3s;
  }

  &__button:hover {
    background-color: #fff;
    border: 1px solid #216CFF;
    color: #216CFF;
  }

  &__add-to-favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-left: 8px;
    cursor: pointer;
    border: 1px solid #B4BDC3;
    border-radius: 50%;
    background-color: #fff;

    transition: 0.3s, border 0.3s;
  }

  &__add-to-favorite:hover {
    border: 1px solid black;
  }

  .description {
    margin-bottom: 8px;

    &__title {
      color: #89939A;
      font-family: 'Mont';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
    }

    &__value {
      font-family: 'Mont';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
    }
  }
}

@import "../../styles/mixins";
@import "../../styles//_blocks/gridTemplate";


.catalog-display {
  display: flex;
  gap: 16px;
}

.page-title {
  margin-bottom: 8px;

  font-family: 'Mont';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;

  letter-spacing: -0.01em;

  color: #0F0F11;

  @include onMobile {
    font-size: 32px;
    line-height: 41px;
  }
}

.products-amount {
  margin-bottom: 40px;

  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  color: #89939A;
}

.sorter {
  margin-bottom: 24px;

  &__name {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #89939a;
    padding-bottom: 4px;
  }

  &__selector {
    grid-column: 1 / 5;

    height: 40px;
    padding: 10px;

    border: 1px solid #b4bdc4;
    border-radius: 8px;

    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000;

    &--sort {
      width: 187px;
    }

    &--per-page {
      width: 136px;

      @include onMobile {
        max-width: 136px;
        ;
        margin: auto
      }
    }

    @include onMobile {
      max-width: 136px;
      ;
    }
  }
}