@import 'styles/reset';
@import 'styles/mixins';
@import 'styles/fontsTypography';
@import 'styles/normalize';
@import 'styles/colors';

@import 'styles/_blocks/container';
@import 'styles/_blocks/gridTemplate';

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include onMobile {
    display: block;
  }
}

.main {
  flex-grow: 1;
}