@import "../../styles/_colors.scss";
@import "../../styles/mixins";

.slider {

  &__title{
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.01em;

    color: $color__primary;

    margin-bottom: 56px;

    @include onMobile {
      font-size: 32px;
    }
  }

  &__container {
    display: grid;
    margin: 0 auto;
  }

  &__controls {
    display: flex;
    align-items: center;

    margin-bottom: 18px;
    height: 400px;

    overflow: hidden;
  }

  &__indicators {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
}

.slider-wrapper {
  display: flex;
  position: relative;

  width: 1040px;
  height: 100%;

  transition: transform 0.5s ease-in-out;

  //@include onTablet {
  //  width: 490px;
  //}
}

.slider-item {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  opacity: 0;
  visibility: hidden;
  transition: transform 1.5s linear;
}

.slider-item-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s linear;
}

.slider-item-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear;
}

.slider-image {
  width: 100%;

  border-radius: 8px;
  object-fit: cover;
}

.slider__control {
  display: none;
  width: 32px;
  height: 100%;

  @include onTablet {
    display: block;
  }

  @include onDesktop {
    display: block;
  }

  background-color: $color__white;

  border: 1px solid #B4BDC4;
  border-radius: 48px;
  z-index: 999;

  transition: border 0.3s;

  &:hover {
    border: 1px solid #0F0F11;
  }

  &:before {
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    margin: auto;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &-left {
    margin-right: 16px;

    &:before {
      background-image: url("./prev.svg");
    }
  }

  &-right {
    margin-left: 16px;

    &:before {
      background-image: url("./next.svg");
    }
  }
}

.slider__indicator {
  width: 14px;
  height: 4px;

  background: #E2E6E9;

  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &-active {
    background: #0F0F11;
  }
}
